# This file defines code ownership rules for this repository.
# Owners will automatically be requested for review when changes are made to the specified paths.

# Owner for everything in the repository
* @X99874

# Owner for blog folder
/blog/ @X99874

# Owner for docs folder
/docs/ @X99874

# Owner for portfolio folder
/portfolio/ @X99874

# Owner for reflections folder
/reflections/ @X99874

# Owner for specific file
README.md @X99874
